@mixin flexCenter($dir) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $dir;
    text-align: center;
}

@mixin btn($color, $bg-color, $bor-color) {
    display: inline-block;
    color: $color;
    background: $bg-color;
    border: 1px solid $bor-color;
    padding: 13px 40px;
    min-height: 40px;
    margin: 11px 0 11px 10px;
    border-radius: 100px;
    
    @media (max-width: $break-small) {
        padding: 13px 10px;
    }
}