//theme accent colors
$color-gray: #eff2f5;
$color-dkgray: #5c5c6b;
$color-dark: rgb(61, 104, 98);
$color-accent: #77EEDF;
$color-accent2: rgb(171, 223, 216);
$color-accent3: #F96332;
$color-opacity: rgba(white, 0.8);


//breakpoints

$break-large: 1000px;
$break-med: 700px;
$break-small: 550px;

//numbers
$header-height: 0px;
$menu-width: 450px;