article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif; }

h1, h2, h3, h4, h5, h6, p, a, ul, li, blockquote {
  margin: 0;
  padding: 0;
  line-height: 1; }

h1, h2, h3, h4, h5, h6 {
  text-transform: capitalize; }

a:visited {
  color: black; }

a {
  text-decoration: none;
  display: inline-block; }

li {
  list-style-type: none; }

p {
  line-height: 1.4; }

.heading {
  font-weight: 700; }
  .heading--resto {
    font-size: 1.375rem;
    margin: 10px 0; }
  .heading--restoName {
    font-size: 1.125rem; }

.text--small {
  font-size: 1rem; }

.text--regular {
  font-size: 1rem; }

button, input[type="submit"] {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-transform: uppercase; }

/*----------------------------------------
    all sections
----------------------------------------*/
.wrapper {
  width: 80%;
  max-width: 1150px;
  margin: 0 auto; }
  @media (max-width: 1000px) {
    .wrapper {
      width: 95%; } }

.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

section {
  padding: 40px;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0; }

.wrap--small {
  width: 80%;
  margin: 0 auto; }
  @media (max-width: 700px) {
    .wrap--small {
      width: 95%; } }

img {
  width: 100%; }

/*----------------------------------------
    Google Maps Styles
----------------------------------------*/
#map {
  position: relative;
  height: 100%;
  margin-top: 0px; }

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

/*----------------------------------------
    landing page
----------------------------------------*/
.landing {
  width: 100vw;
  height: 100vh;
  background: url("/assets/landing-bg.png") no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .landing .wrapper {
    padding: 50px;
    background: rgba(183, 236, 229, 0.8);
    max-width: 360px;
    border: 3px solid #77EEDF; }
  .landing.minimize {
    position: absolute;
    top: 0px;
    width: initial;
    height: initial;
    background: none;
    background: rgba(183, 236, 229, 0.8);
    margin: 0;
    padding: 10px; }
    .landing.minimize p, .landing.minimize h2 {
      display: none; }
    .landing.minimize .wrapper {
      padding: 10px;
      background: none;
      border: none; }
    .landing.minimize .form__startEnd, .landing.minimize input[type="submit"] {
      margin: 0; }

/*----------------------------------------
    Form 
----------------------------------------*/
.form__startEnd {
  margin-top: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center; }

input {
  background: rgba(255, 255, 255, 0.8);
  min-width: 110px;
  border-radius: 100px;
  border: 3px solid #77EEDF;
  margin: 5px 0 20px 0;
  padding: 10px 20px; }

.btn--cta {
  background: #F96332;
  color: white;
  padding: 13px 30px;
  margin-top: 40px; }

.btn__showList {
  background: #77EEDF;
  color: #252628;
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

/*----------------------------------------
    Resto Details
----------------------------------------*/
.restoDetailsPanel {
  border: 1px solid pink;
  padding: 40px;
  position: absolute;
  right: 0;
  text-align: left;
  width: 100%;
  overflow: scroll;
  height: 80%; }
  @media (min-height: 550px) {
    .restoDetailsPanel {
      height: 100%; } }

.restoDetailsPanel__locate {
  background: #f5efef; }
  .restoDetailsPanel__locate:nth-child(:even) {
    background: #B7ECE5; }
