@import "normalize";
@import "variables";
@import "mixin";
@import "typography";
@import "components/buttons";
@import "components/header";
@import "components/footer";
@import "components/graphics";

/*----------------------------------------
    all sections
----------------------------------------*/
.wrapper {
    width: 80%;
    max-width: 1150px;
    margin: 0 auto;
    @media (max-width: $break-large) {
        width: 95%;
    } 
}


.visuallyHidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; }

section {
    margin-bottom: 50px;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
}

.wrap--small {
    width: 90%;
    margin: 0 auto;
    @media (max-width:$break-med) {
        width: 95%;
    }
}

img {
    width: 100%;
}

body {
    // background: red;
}

/*----------------------------------------
    Google Maps Styles
----------------------------------------*/
#map {
    position: relative;
    height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}




