article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif; }

h1, h2, h3, h4, h5, h6, p, a, ul, li, blockquote {
  margin: 0;
  padding: 0;
  line-height: 1; }

a {
  text-decoration: none;
  display: inline-block;
  color: #3d6862; }
  a :visited {
    color: inherit; }

li {
  list-style-type: none; }

p {
  line-height: 1.4; }

.heading {
  font-weight: 700; }
  .heading--section {
    font-size: 5rem;
    margin-bottom: 10px; }
    @media (max-width: 550px) {
      .heading--section {
        font-size: 14vw; } }
  .heading--resto {
    font-size: 1.375rem;
    margin-top: 5px;
    text-align: center; }
  .heading--restoName {
    font-size: 1.125rem; }
  .heading--details {
    font-size: 1rem;
    margin-top: 4px;
    line-height: 1.4;
    font-style: italic;
    overflow: hidden; }
    .heading--details > * {
      font-weight: 400;
      font-style: initial; }

.text--small {
  font-size: 1rem;
  margin: 5px 0; }

.text--regular {
  font-size: 1rem; }

.text--blurb {
  font-size: 1.25rem;
  margin-top: 12px; }

.symbol {
  color: #F96332; }

.openNow {
  color: #77EEDF; }

.closedNow {
  color: #dd8f8f; }

h1 {
  display: inline-block;
  margin-left: 20px;
  position: absolute;
  top: 17px; }
  @media (max-width: 540px) {
    h1 {
      display: none; } }

/*----------------------------------------
    all sections
----------------------------------------*/
.wrapper {
  width: 80%;
  max-width: 1150px;
  margin: 0 auto; }
  @media (max-width: 1000px) {
    .wrapper {
      width: 95%; } }

.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

section {
  padding: 40px;
  position: absolute;
  z-index: 10; }
  @media (max-width: 550px) {
    section {
      padding: 0; } }

.wrap--small {
  width: 80%;
  margin: 0 auto; }
  @media (max-width: 550px) {
    .wrap--small {
      width: 100%; } }

img {
  width: 100%; }

/*----------------------------------------
    Google Maps Styles
----------------------------------------*/
#map {
  position: relative;
  height: calc( 100vh - 66px);
  margin-top: 66px; }

/* Optional: Makes the sample page fill the window. */
/*----------------------------------------
    landing page
----------------------------------------*/
.fa.fa-flag-checkered {
  font-size: 50px;
  line-height: 0.4; }

.landing {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: url("../assets/landing-bg.png") no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .landing .wrapper {
    padding: 50px;
    background: rgba(255, 255, 255, 0.8);
    max-width: 550px;
    border: 3px solid #77EEDF; }
    @media (min-width: 700px) {
      .landing .wrapper {
        padding: 50px 0; } }
  .landing.minimize {
    position: absolute;
    top: 66px;
    width: 300px;
    height: initial;
    background: rgba(171, 223, 216, 0.8);
    margin: 0;
    padding: 10px; }
    .landing.minimize p, .landing.minimize h2, .landing.minimize i {
      display: none; }
    .landing.minimize .wrapper {
      padding: 10px;
      background: none;
      border: none; }
    .landing.minimize .form__startEnd, .landing.minimize input[type="submit"] {
      margin: 0; }
    .landing.minimize input[type="text"] {
      width: 250px;
      min-width: initial; }
    @media (max-width: 550px) {
      .landing.minimize {
        width: 100%;
        top: 66px; }
        .landing.minimize input[type="text"] {
          width: 280px; } }

.btn__showForm {
  display: inline-block;
  color: black;
  background: #abdfd8;
  border: 1px solid black;
  padding: 13px 40px;
  min-height: 40px;
  margin: 11px 0 11px 10px;
  border-radius: 100px; }
  @media (max-width: 550px) {
    .btn__showForm {
      padding: 13px 10px; } }

.mobileBar {
  width: 100%;
  height: 66px;
  background: rgba(171, 223, 216, 0.8);
  position: absolute;
  top: 0; }

/*----------------------------------------
    Form 
----------------------------------------*/
.form__startEnd {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  width: 100%; }

input {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 100px;
  margin: 5px 0 20px 0;
  padding: 10px 20px; }

input[type="text"] {
  border: 3px solid #77EEDF;
  min-width: 400px; }
  @media (max-width: 700px) {
    input[type="text"] {
      min-width: initial; } }

input[type="submit"] {
  border: none;
  margin-top: 40px; }

.btn--cta, .restoDetailsPanel__btn {
  display: inline-block;
  color: white;
  background: #F96332;
  border: 1px solid transparent;
  padding: 13px 40px;
  min-height: 40px;
  margin: 11px 0 11px 10px;
  border-radius: 100px; }
  @media (max-width: 550px) {
    .btn--cta, .restoDetailsPanel__btn {
      padding: 13px 10px; } }

.btn__showList {
  position: absolute;
  top: -30px;
  right: 12px;
  z-index: 50; }

/*----------------------------------------
    Resto Details
----------------------------------------*/
section.restoDetailsPanel {
  background: white;
  padding: 20px;
  position: absolute;
  top: 64px;
  right: 0;
  max-width: 450px;
  text-align: left;
  width: 100%;
  overflow: scroll;
  max-height: calc(100vh - 64px); }

.restoDetailsItem {
  padding-top: 15px;
  margin-bottom: 10px; }
  .restoDetailsItem:nth-child(even) {
    background: #eff2f5; }
  .restoDetailsItem h4 {
    width: 100%; }

.restoDetailsPanel__basicInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 5px; }

.restoDetailsPanel__basicInfo, .restoDetailsPanel__locate {
  padding: 0 15px; }

.restoDetailsPanel__btn {
  width: 100%;
  text-align: center;
  background: #77EEDF;
  color: black;
  margin-top: 20px; }

.rating5::after {
  font-family: FontAwesome;
  content: "\f005 \f005 \f005 \f005 \f005"; }

.rating4::after {
  font-family: FontAwesome;
  content: "\f005 \f005 \f005 \f005"; }

.rating3::after {
  font-family: FontAwesome;
  content: "\f005 \f005 \f005"; }

.rating2::after {
  font-family: FontAwesome;
  content: "\f005 \f005"; }

.rating1::after {
  font-family: FontAwesome;
  content: "\f005"; }

.price4::after {
  font-family: FontAwesome;
  content: "\f155 \f155 \f155 \f155"; }

.price3::after {
  font-family: FontAwesome;
  content: "\f155 \f155 \f155"; }

.price2::after {
  font-family: FontAwesome;
  content: "\f155 \f155"; }

.price1::after {
  font-family: FontAwesome;
  content: "\f155"; }
