@import "normalize";
@import "variables";
@import "mixin";
@import "typography";
@import "components/buttons";
@import "components/header";
@import "components/footer";
@import "components/graphics";

/*----------------------------------------
    all sections
----------------------------------------*/
.wrapper {
    width: 80%;
    max-width: 1150px;
    margin: 0 auto;
    @media (max-width: $break-large) {
        width: 95%;
    } 
}


.visuallyHidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; }

section {
    // margin-bottom: 50px;
    padding: 40px;
    position: absolute;
    z-index: 10;
    // top: 0;
    // left: 0;
}

.wrap--small {
    width: 80%;
    margin: 0 auto;
    @media (max-width:$break-med) {
        width: 95%;
    }
}

img {
    width: 100%;
}

// main {
//     position: relative;
// }

/*----------------------------------------
    Google Maps Styles
----------------------------------------*/
#map {
    position: relative;
    height: 100%;
    //? mobile menu
    margin-top: $header-height;
}

/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/*----------------------------------------
    landing page
----------------------------------------*/

.landing {
    width: 100vw;
    height: 100vh;
    background: url('/assets/landing-bg.png') no-repeat;
    background-size: cover;
    @include flexCenter(column);

    transition: all 0.5s;

    .wrapper {
        padding: 50px;
        background: rgba($color-accent2, 0.8);
        max-width: 360px;
        // border-radius: 100px;
        border: 3px solid $color-accent;

    }

    // show only form while in map view
    &.minimize {
        position: absolute;
        top: $header-height;
        width: initial;
        height: initial;
        background: none;
        background: rgba($color-accent2, 0.8);
        margin: 0;
        padding: 10px;

        p, h2 {
            display: none;
        }

        .wrapper {
            padding: 10px;
            background: none;
            border: none;
        }

        .form__startEnd, input[type="submit"]  {
            margin: 0;
        }

    }
}

/*----------------------------------------
    Form 
----------------------------------------*/
.form__startEnd {
    margin-top: 80px;
    @include flexCenter(column);
    // > * {
    //     display: block;
    // }
}

input {
    background: $color-opacity;
    min-width: 110px;
    border-radius: 100px;
    border: 3px solid $color-accent;
    margin: 5px 0 20px 0;
    padding: 10px 20px;
}

.btn--cta {
    background: $color-accent3;
    color: white;
    padding: 13px 30px;
    margin-top: 40px;
}

.btn__showList {
    background: $color-accent;
    color: $color-dark;
    position: absolute;
    top: -30px;
    right: 12px;
    // transform: translateX(-50%);
    z-index: 50;
}
/*----------------------------------------
    Resto Details
----------------------------------------*/

section.restoDetailsPanel {
    margin-top: calc(#{$header-height} + 64px);
    border: 1px solid darkcyan;
    background: white;
    padding: 20px;
    position: absolute;
    top: 0;
    right: 0;

    max-width: $menu-width;

    text-align: left;
    width: 100%;
    overflow: scroll;
    max-height: 100vh;
    // @media (min-height: $break-small) {
    //     max-height: 100vh;
    // }
}

.restoDetailsItem {
    // border: 1px solid orange;
    // padding: 10px 10px 0 10px;
    padding-top: 15px;
    margin-bottom: 10px;
    &:nth-child(even) {
        background: $color-gray;
    }

    h4 {
        width: 100%;
    }
}

.restoDetailsPanel__basicInfo p {
    float: left;
    width: 70px;
    // text-align: center;
    min-height: 24px;
}

.restoDetailsPanel__basicInfo, .restoDetailsPanel__locate {
    padding: 0 15px;
}

.restoDetailsPanel__btn {
    @extend .btn--cta;
    width: 100%;
    text-align: center;
    background: $color-accent;
    color: black;
    margin-top: 20px;
    // margin: 0;
}   

.rating5::after {
    font-family: FontAwesome;
    content: "\f005 \f005 \f005 \f005 \f005";
}

.rating4::after {
    font-family: FontAwesome;
    content: "\f005 \f005 \f005 \f005";
}

.rating3::after {
    font-family: FontAwesome;
    content: "\f005 \f005 \f005";
}

.rating2::after {
    font-family: FontAwesome;
    content: "\f005 \f005";
}

.rating1::after {
    font-family: FontAwesome;
    content: "\f005";
}


.price4::after {
    font-family: FontAwesome;
    content: "\f155 \f155 \f155 \f155";
}

.price3::after {
    font-family: FontAwesome;
    content: "\f155 \f155 \f155";
}

.price2::after {
    font-family: FontAwesome;
    content: "\f155 \f155";
}

.price1::after {
    font-family: FontAwesome;
    content: "\f155";
}