@import "normalize";
@import "variables";
@import "mixin";
@import "typography";


/*----------------------------------------
    all sections
----------------------------------------*/
.wrapper {
    width: 80%;
    max-width: 1150px;
    margin: 0 auto;
    @media (max-width: $break-large) {
        width: 95%;
    } 
}

.visuallyHidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; }

section {
    // margin-bottom: 50px;
    padding: 40px;
    position: absolute;
    z-index: 10;
    // top: 0;
    // left: 0;
    @media (max-width: $break-small) {
        padding: 0;
    }
}

.wrap--small {
    width: 80%;
    margin: 0 auto;
    @media (max-width:$break-small) {
        width: 100%;
    }
}

img {
    width: 100%;
}


/*----------------------------------------
    Google Maps Styles
----------------------------------------*/
#map {
    position: relative;
    height: calc( 100vh - 66px );
    //? mobile menu
    margin-top: $header-height;
}

/*----------------------------------------
    landing page
----------------------------------------*/
.fa.fa-flag-checkered {
    font-size: 50px;
    line-height: 0.4;
}

.landing {
    position: absolute;
    top: 0;
    width: 100vw;
    background: url('../assets/landing-bg.png') no-repeat;
    // background-blend-mode: color-dodge;
    background-size: cover;
    @include flexCenter(column);
    transition: all 0.5s;

    .wrapper {
        padding: 50px;
        background: rgba(#fff, 0.8);
        max-width: 550px;
        // border-radius: 100px;
        border: 3px solid $color-accent;

        @media (min-width:$break-med) {
            padding: 50px 0;
        }
    }

    // show only form while in map view
    &.minimize {
        position: absolute;
        top: $header-height;
        width: 300px;
        height: initial;
        background: rgba($color-accent2, 0.8);
        margin: 0;
        padding: 10px;

        p, h2 , i{
            display: none;
        }

        .wrapper {
            padding: 10px;
            background: none;
            border: none;
        }

        .form__startEnd, input[type="submit"]  {
            margin: 0;
        }

        input[type="text"] {
            width: 250px;
            min-width: initial;
        }

        @media (max-width: $break-small) {
            width: 100%;
            top: $header-height;
            input[type="text"] {
                width: 280px;
            }
        }
    }
}

.btn__showForm {
    @include btn(black, $color-accent2, black);
}

.mobileBar {
    width: 100%;
    height: $header-height;
    background: rgba($color-accent2, 0.8);
    position: absolute;
    top: 0;
}
/*----------------------------------------
    Form 
----------------------------------------*/
.form__startEnd {
    margin-top: 50px;
    @include flexCenter(column);
    width: 100%;
}

input {
    background: $color-opacity;
    
    border-radius: 100px;
    margin: 5px 0 20px 0;
    padding: 10px 20px;
}

input[type="text"] {
    border: 3px solid $color-accent;
    min-width: 400px;
    @media (max-width:$break-med) {
        min-width: initial;
    }
}

input[type="submit"] {
    // border: none;
    margin-top: 40px;
}

.btn__showList {
    @include btn($color-accent3, white, $color-accent3);
    position: absolute;
    top: -30px;
    right: 12px;
    z-index: 50;
}
/*----------------------------------------
    Resto Details
----------------------------------------*/

section.restoDetailsPanel {
    background: white;
    padding: 20px;
    position: absolute;
    top: 64px;
    right: 0;

    max-width: $menu-width;

    text-align: left;
    width: 100%;
    overflow: scroll;
    max-height: calc(100vh - 64px);
    // @media (min-height: $break-small) {
    //     max-height: 100vh;
    // }
}

.restoDetailsItem {
    // border: 1px solid orange;
    // padding: 10px 10px 0 10px;
    padding-top: 15px;
    margin-bottom: 10px;
    &:nth-child(even) {
        background: $color-gray;
    }

    h4 {
        width: 100%;
    }
}

.restoDetailsPanel__basicInfo {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    
}

.restoDetailsPanel__basicInfo, .restoDetailsPanel__locate {
    padding: 0 15px;
}

.restoDetailsPanel__btn {
    @include btn(white ,$color-accent3, transparent);
    width: calc(100% - 20px);
    text-align: center;
    background: $color-accent;
    color: black;
    margin: 40px 10px 10px 10px;
}   

.rating5::after {
    font-family: FontAwesome;
    content: "\f005 \f005 \f005 \f005 \f005";
}

.rating4::after {
    font-family: FontAwesome;
    content: "\f005 \f005 \f005 \f005";
}

.rating3::after {
    font-family: FontAwesome;
    content: "\f005 \f005 \f005";
}

.rating2::after {
    font-family: FontAwesome;
    content: "\f005 \f005";
}

.rating1::after {
    font-family: FontAwesome;
    content: "\f005";
}


.price4::after {
    font-family: FontAwesome;
    content: "\f155 \f155 \f155 \f155";
}

.price3::after {
    font-family: FontAwesome;
    content: "\f155 \f155 \f155";
}

.price2::after {
    font-family: FontAwesome;
    content: "\f155 \f155";
}

.price1::after {
    font-family: FontAwesome;
    content: "\f155";
}